/*
    Autor: Bruno Luiz Katzjarowski;
    Data: 01/03/2019
*/

/* REMOVER CARACTERISTICAS DO BOOTSTRAP */
/* FIM REMOÇÂO CARACTERISTICAS DO BOOTSTRAP */

.add10MarginRight{margin-right: 10px;}
.add10MarginLeft{margin-left: 10px;}
.add10MarginTop{margin-top: 10px;}

.formCabecalho{
    width: 450px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

    #boxSelecao{ width: 250px;}
    #periodoDe, #periodoAte{width: 75px !important;}

.row{
    width: 750px;
}

.divOpcoes{
    border: 1px solid #777;
    padding: 10px;
}
    #horaConciliacao{
        width: 45px;
    }

.mensagemOpcaoC{
    border: 1px solid #777;
    width: 450px;
    margin-top: 10px;
    padding: 10px;
}

input{background-color: white !important;}
#caixaCinza{padding: 10xp !important; background-color: #f4f3f0 !important;}