
*.~tst
/.vs/BACA/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/2021/.vs/2021/v16/.suo
/2021/.vs/slnx.sqlite
/2021/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/ProjectSettings.json
/.vs/BACA
