.fill-in { font-family:Tahoma, Arial;font-size:xx-small;font-weight:bold;color:black;background:#cecece;}

.checkBoxS { border:0;padding:0;;background:#FFFFFF}

TABLE.Mtable TD {BORDER-BOTTOM: #93bee2 1px solid;FONT-SIZE: 8pt; LINE-HEIGHT: normal; COLOR:black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;padding-left:2;padding-right:2;}

TD.primeiraLinha {BORDER-TOP:#93bee2 1px solid;FONT-SIZE: 8pt; LINE-HEIGHT: normal; COLOR:red; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;padding-left:2;padding-right:2;}

TD.outraLinha {FONT-SIZE: 8pt; LINE-HEIGHT: normal;; COLOR:black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;padding-left:2;padding-right:2;}

TABLE.Mtable {BORDER-top: #000000 1px solid;}

TABLE.tableForm {BORDER: #000000 1px solid;}

.columnLabel {FONT-SIZE: 8pt; LINE-HEIGHT: normal;font-weight:bold; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;color:#FFFFFF;BACKGROUND-COLOR:#107f80}

.columnLabelSelected {FONT-SIZE: 8pt; LINE-HEIGHT: normal;font-weight:bold; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;color:#FFFFFF;BACKGROUND-COLOR:#20b0b0}

.linkOrdena {COLOR:white;text-decoration:none;}

.aBrowser {color:red;font-family:Arial;font-size:8pt;font-weight:normal;text-decoration:none;}
 
.aBrowser:hover {color:red;font-family:Arial;font-size:8pt;font-weight:normal;text-decoration:underline ; }
 
.aBrowserAcom {color:blue;font-family:Arial;font-size:8pt;font-weight:normal;text-decoration:none; }
 
.aBrowserAcom:hover {color:blue;font-family:Arial;font-size:8pt;font-weight:normal;text-decoration:underline;} 

.TR.H {BACKGROUND-COLOR: #c3d6e6}

/******************acima não é usado*****************************/

.button {font-family:Arial, Verdana;font-size:xx-small;font-weight:bold;color:#FFFFBF;background:#2D862D;cursor:hand;width:60;height:20}

.button1 {font-family:Arial, Verdana;font-size:xx-small;font-weight:bold;color:#FFFFBF;background:#2D862D;cursor:hand;width:40;height:20}

.button2 {font-family:Arial, Verdana;font-size:xx-small;font-weight:bold;color:#FFFFBF;background:#2D862D;cursor:hand;width:80;height:20}

.button3 {font-family:Arial, Verdana;font-size:xx-small;font-weight:bold;color:#FFFFBF;background:#2D862D;cursor:hand;width:120;height:20}

.button4 {font-family:Arial, Verdana;font-size:xx-small;color:#FFFFBF;background:#2D862D;cursor:hand;}

.linhaForm {FONT-SIZE: 9pt; LINE-HEIGHT: normal; COLOR:black; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, sans-serif}

.input {font-size: 8pt;color:#00000;background:#FFFFFF;border: 1px solid #009966 ;}

.input2 {font-size: 6pt;color:#00000;background:#FFFFCE;border: 1px solid #009966 ;}

.transp {font-family: Arial, times new roman, Verdana; font-size: 8pt;color:FFFFBF;background:#2D862D; border:0px;}

.fundo {line-height: 100%; word-spacing: 0; margin-top: 0; margin-bottom: 0}

.cabtab {border:0; font-family:Arial, times new roman, Verdana; font-size: 8 pt; word-spacing: 0; line-height: 100%; color: #FFFFBF; margin-top: 0; margin-bottom: 0; BACKGROUND-COLOR:#2D862D}

.titulo {font-family:Arial, times new roman, Verdana; font-size: 9 pt; font-weight: bold; color:#FFFFBF}

.programa {font-family:Arial, times new roman, Verdana; font-size: 8 pt; font-weight: bold; color:#FFFFBF} 

.tcampo {border:0; BACKGROUND-COLOR:#FFFFCE; font-family:Arial, Times New Roman, Verdana; font-size: 9 pt; word-spacing: 0; line-height: 100%; margin-top: 0; margin-bottom: 0;}

.campos {BACKGROUND-COLOR:#FFFFCE; word-spacing: 0; margin-top: 0; margin-bottom: 0;FONT-SIZE: 9pt; LINE-HEIGHT: normal; COLOR:black; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, sans-serif} 

