 .dataTable 
{
	border-collapse:collapse;	        
}

table.dataTable a.sortheader 
{
	border-collapse:collapse;	
    	text-decoration: none;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
}

table.dataTable span.sortarrow 
{
	border-collapse:collapse;	
    	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;		
}

.tableBranca 
{
	border-collapse:collapse;	        
}

table.tableBranca a.sortheader 
{
	border-collapse:collapse;	
    	text-decoration: none;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
}

table.tableBranca span.sortarrow 
{
	border-collapse:collapse;	
    	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;		
}

.txtNegrito 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.txtAzul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000066;
	text-decoration:none;
}
txtAzul:hover 
{
	text-decoration:underline;
}
.txtNormal 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.txtTituloVis 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#ffffff;
	font-weight: bold;
}
.txtTituloHid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#79797b;	
	font-weight: bold;	
}
.txtMenuTitulos 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
}
.txtPequeno 
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 8pt; 	
}

.txtVermelho 
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 8pt;
	color:#FF0000; 	
}
.linkGuia 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.bgNavTopo 
{
	background-image: url(../images/geral/bg_gradiente_topo.jpg);
	background-repeat: repeat-x;
}
.bgTopoDialogo 
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-image: url(../images/geral/fnd_menu.jpg);
	font-size: 12px;
	font-weight: bold;
}
.NomeCampo 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.campoListagem
{
	font-family: Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #d4d0c8 1px solid; 
	BORDER-TOP: #656462 1px solid; 
	FONT-SIZE: 11px; 
	MARGIN: 0px; 
	BORDER-LEFT: #656462 1px solid; 
	BORDER-BOTTOM: #d4d0c8 1px solid; 
	HEIGHT: 18px;
}


.Campo 
{
	font-family: Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #d4d0c8 1px solid; 
	BORDER-TOP: #656462 1px solid; 
	FONT-SIZE: 11px; 
	MARGIN: 0px; 
	BORDER-LEFT: #656462 1px solid; 
	BORDER-BOTTOM: #d4d0c8 1px solid; 
	HEIGHT: 18px;
}


.linkMenuAdmin 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.linkCabecalhoAdmin 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.linkCabecalhoAdmin:hover 
{
	text-decoration:underline;
}


.linkPadrao 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
	text-decoration: none;
}
.borda
{
	border:1px solid #c4c4c4;
}

.Titulo 
{
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 15pt;
	font-weight:bolder;
	font-style: oblique;
}

.TituloPesquisa 
{
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 10pt;
	font-weight:bolder;
	font-style: oblique;
}

.TextoTabelaPesquisa 
{
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 9pt;
}

.TextoFormulario 
{
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 9pt;
}

.dataTableHeader 
{
	margin:1px;
 	padding: 1px;
	border:1px solid #FFFFFF;
	background-color:#91957B;
	font-family : Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 7.5pt;
	font-weight: bold;	
	vAlign: top;
      height: 1px;
	visibility: visible;
	display: inline;	
}

.dataTableRow 
{
	margin:5px;
 	padding: 8px;
	border:1px solid #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 8pt;
}
.dataTableRow2 
{
	margin:5px;
 	padding: 8px;
	border:2px solid #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	color:#FFFFFF;
        background-color: #e4e6dd;
	font-size: 8pt;
}

.LinhaTabelaSelect 
{
	margin:1px;
 	padding: 1px;
	border:1px solid  #91957B;
	font-family :  Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 8pt;
}
.LinhaTabelaSelect2
{
	margin:1px;
 	padding: 1px;
	border:1px solid  #91957B;
	font-family :  Arial, Helvetica, sans-serif;
	color:#000000;
        background-color: #e4e6dd;
	font-size: 8pt;
}


.text 
{
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 9pt;
}

.CampoNumerico 
{
	font-family: Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #d4d0c8 1px solid; 
	BORDER-TOP: #656462 1px solid; 
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	BORDER-LEFT: #656462 1px solid; 
	BORDER-BOTTOM: #d4d0c8 1px solid; 
	HEIGHT: 18px;
	color: #000000;
	text-align: right;
}

.NomePrograma 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.PosicaoBotoes 
{
	position:static;
	top:360px;
	left:176px;
	width: 179px;
}

body
{
	scrollbar-base-color: #CCCCCC;
 	scrollbar-track-color: #FFFFFF;
 	scrollbar-face-color: #CCCCCC;
 	scrollbar-highlight-color: #c4c4c4;
 	scrollbar-3dlight-color: #CCCCCC;
 	scrollbar-darkshadow-color: #FFFFFF;
 	scrollbar-shadow-color: #999999;
 	scrollbar-arrow-color: #000000;
 	background-color: #DFE0D6;
}

.CampoTextArea  
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
	
}



BODY, TD, INPUT,TEXTAREA {
	color : #006142;
	font-family : Arial, sans-serif;
	font-size: 10px;
}

A {	color: #006142;
  }




.scroll2 {         
         border:1px solid #A7BE86;
         scrollbar-face-color    : #A7BE86;
         scrollbar-shadow-color    : #A7BE86;
         scrollbar-highlight-color : #A7BE86;
         scrollbar-3dlight-color   : #FFFFFF;
         scrollbar-darkshadow-color: #FFFFFF;
         scrollbar-track-color     : #FFFFFF;
         scrollbar-arrow-color     : #000000;
         overflow: auto; height:'100px'}
.scroll3 {         
         border:1px solid #A7BE86;
         scrollbar-face-color    : #A7BE86;
         scrollbar-shadow-color    : #A7BE86;
         scrollbar-highlight-color : #A7BE86;
         scrollbar-3dlight-color   : #FFFFFF;
         scrollbar-darkshadow-color: #FFFFFF;
         scrollbar-track-color     : #FFFFFF;
         scrollbar-arrow-color     : #000000;
         overflow: auto; }
.infparcela
 {
       	FONT: Fixedsys; 
	BACKGROUND-COLOR: #cccfbe; 	
        border:1px solid #000099;
        LEFT: 0px; 
	PADDING-LEFT: 1px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 1px;
	POSITION: relative; 
        WIDTH: 50px;     
        FONT-SIZE: 7pt;
        
	}
.infparcela2
 {
       	FONT: Fixedsys; 
	background-color: #cccfbe;
        border:1px solid #000099;
        LEFT: 0px; 
	PADDING-LEFT: 1px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 1px;
	POSITION: relative; 
        WIDTH: 50px;     
        FONT-SIZE: 7pt;
        
	}
        
.hcontainer
 {
	BACKGROUND-COLOR: YELLOW; 	
        border:1px solid #000099
	FONT: 10pt MS Comic Sans,arial,sans-serif; LEFT: 0px; 
	PADDING-LEFT: 1px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 1px;
	POSITION: relative; 
        WIDTH:100%;
        HEIGHT:100%;
	}

