.Titulo {
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 15pt;
	font-weight:bolder;
	font-style: oblique;
}

.TituloPesquisa {
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 10pt;
	font-weight:bolder;
	font-style: oblique;
}

.TextoTabelaPesquisa {
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 9pt;
}

.TextoFormulario {
	margin:0px;
	padding: 0px;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 9pt;
}

.dataTable {
	border-collapse:collapse;	        
}

table.dataTable a.sortheader {
	border-collapse:collapse;	
    	text-decoration: none;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
}

table.dataTable span.sortarrow {
	border-collapse:collapse;	
    	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
		
}

.xxxxxxxdataTableHeader {
	margin:5px;
 	padding: 8px;
	border:1px solid #FFFFFF;
	background-color:#A7BE86;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 8pt;
	font-weight:bold;
}

.dataTableHeader {
	margin:1px;
 	padding: 1px;
	border:1px solid #FFFFFF;
	background-color:#91957B;
	font-family : Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 8pt;
	font-weight: bold;	
	vAlign: top;
        height: 1px;
	visibility: visible;
	display: inline;	
}

.xxxxxxdataTableRow {
	margin:5px;
 	padding: 8px;
	border:1px solid #A7BE86;
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 7pt;
        cursor:hand;
}
.dataTableRow {
	margin:5px;
 	padding: 8px;
	border:1px solid #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 8pt;
        cursor:hand;
}

.xxxxxxLinhaTabelaSelect {
	margin:5px;
 	padding: 8px;
	border:1px solid #A7BE86;
	font-family :  Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 8pt;
}
.LinhaTabelaSelect {
	margin:1px;
 	padding: 1px;
	border:1px solid  #91957B;
	font-family :  Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 8pt;
  

}
.text {
	font-family : Arial, sans-serif;
	color:#000000;
	font-size: 9pt;
}
.scroll2 {         
         border:1px solid #A7BE86;
         scrollbar-face-color    : #A7BE86;
         scrollbar-shadow-color    : #A7BE86;
         scrollbar-highlight-color : #A7BE86;
         scrollbar-3dlight-color   : #FFFFFF;
         scrollbar-darkshadow-color: #FFFFFF;
         scrollbar-track-color     : #FFFFFF;
         scrollbar-arrow-color     : #000000;
         overflow: auto; height:'5'}
.scroll3 {         
         border:1px solid #A7BE86;
         scrollbar-face-color    : #A7BE86;
         scrollbar-shadow-color    : #A7BE86;
         scrollbar-highlight-color : #A7BE86;
         scrollbar-3dlight-color   : #FFFFFF;
         scrollbar-darkshadow-color: #FFFFFF;
         scrollbar-track-color     : #FFFFFF;
         scrollbar-arrow-color     : #000000;
         overflow: auto; }
.infparcela
 {
	BACKGROUND-COLOR: #ffffff; 
	BORDER-LEFT: black 3px solid; 
	BORDER-RIGHT: black 3px solid; 
	BORDER-TOP: black 3px solid; 
	BORDER-BOTTOM: black 3px solid; 
	FONT: 10pt MS Comic Sans,arial,sans-serif; LEFT: 0px; 
	PADDING-LEFT: 1px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 1px;
	POSITION: absolute; 
	TOP: 0px; VISIBILITY: hidden; 
	WIDTH: 360px; 
	Z-INDEX: 2
	}
.hcusto
 {
	BACKGROUND-COLOR: #ffffff; 
	BORDER-LEFT: black 3px solid; 
	BORDER-RIGHT: black 3px solid; 
	BORDER-TOP: black 3px solid; 
	BORDER-BOTTOM: black 3px solid; 
	FONT: 10pt MS Comic Sans,arial,sans-serif; LEFT: 0px; 
	PADDING-LEFT: 1px; 
	PADDING-RIGHT: 1px; 
	PADDING-TOP: 1px;
	POSITION: absolute; 
	TOP: 0px; VISIBILITY: hidden; 
	WIDTH: 360px; 
	Z-INDEX: 2
}

.NomeCampo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.Campo {
	font-family: Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #d4d0c8 1px solid; 
	BORDER-TOP: #656462 1px solid; 
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	BORDER-LEFT: #656462 1px solid; 
	BORDER-BOTTOM: #d4d0c8 1px solid; 
	HEIGHT: 18px;
	color: #000000;
	}

.CampoNumerico {
	font-family: Arial, Helvetica, sans-serif;
	BORDER-RIGHT: #d4d0c8 1px solid; 
	BORDER-TOP: #656462 1px solid; 
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	BORDER-LEFT: #656462 1px solid; 
	BORDER-BOTTOM: #d4d0c8 1px solid; 
	HEIGHT: 18px;
	color: #000000;
	text-align: right;
	}

.NomePrograma {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.PosicaoBotoes {
	position:absolute;
	top:350px;
	left:176px;
	width: 179px;

}
