TD {
	color : white;
	font-family : Arial, sans-serif;
	font-size: 10px;
	text-align: left;
}

H2 {
	font-size: 14pt;
	color: #006142;
; font-family: "Times New Roman", Times, serif
}

H3 {
	font-size: 13pt;
	color: #006142;
}

H4 {
    font-size: small;
	font-variant: small-caps;
	font-weight: bold;
	color : white;
	}
B {color:006142;font-size: 15px}
A {
	text-decoration: none;
	color: 006142;
}

A:Hover {
	text-decoration: underline;
	color: blue;
}

HR {
	color: blue;
	height: 1pt;
}
BODY { 
	BACKGROUND-COLOR:dee7ce;
	color : dee7ce;
	font-family : Arial, sans-serif;
	font-size: 14px;
	text-align: left;
; font-style: italic; font-weight: bold; text-decoration: blink
; border-style: none
 } h5 { font-size: 11px; font-variant: small-caps; font-weight: bold; color : white; ; font-family: Arial}
