BODY{color : #00639c; font-family : Arial, sans-serif; font-size: 9px; text-align: ; }
H2 {font-size: 10pt; color: #00639c; }
H3 {font-size: 12pt; color: Navy; }
H4 {font-size: small; font-variant: small-caps; font-weight: bold; color : Red; }
A { text-decoration: underline; color: #066396; }
A:Hover { text-decoration: underline; color: #00CCFF; }
HR { color: blue; height: 1pt; }
input {  font-size: 10px}
th { color : #00639c; font-size: 9px; text-align: right;}
table { color : #00639c; font-family : Arial, sans-serif; font-size: 9px; text-align: center; font-weight: normal }
div { color : #00639c; font-family : Arial, sans-serif; font-size: 10px; text-align: center; font-weight: normal }
TD  { color : #00639c; font-size: 9px; text-align: left;} 
legend {color : black; font-size: 11px; text-align: left; font-weight: bold;}
.scroll {scrollbar-face-color     : #7094b8;
        scrollbar-shadow-color    : #7094b8;
        scrollbar-highlight-color : #7094b8;
        scrollbar-3dlight-color   : #FFFFFF;
        scrollbar-darkshadow-color: #FFFFFF;
        scrollbar-track-color     : #FFFFFF;
        scrollbar-arrow-color     : #000000;
        overflow:auto;  height:105px;}
