TD {
	background: #066396;
	color : #CCCCCC;
	font-family : Arial, sans-serif;
	font-size: 11px;
	text-align: left;
; font-weight: bold; border-style: none
}

A {
	text-decoration: none;
	color: White;
}

A:Hover {
	text-decoration: underline;
	color: #00FFFF;
}
BODY { 
	background: #066396;
	color : white;
	font-family : Arial, sans-serif;
	font-size: 14px;
	text-align: left;
; font-style: italic; font-weight: bold; text-decoration: blink
; border: #006699; border-style: none
 } 