/*
Autor: Bruno luiz Katzjarowski - Mout's;
Data: 30/10/2018;

Alterações:
001
*/
#dsmarceq{
	width: 457px !important; /* Anderson Schloegel PJ438 Mout's Task 19673 */
}

#nrmodbemE{
	width: 55px !important;
}

#nrcpfcgcE{
	/*width: 180px !important;*/ /* Anderson Schloegel PJ438 Mout's Task 19673 */
}

.fieldMaquinaEquipamento label[for='dschassi']{
	padding-left: -30px !important;
	width: 60px !important;
}

.fieldMaquinaEquipamento label[for='nrcpfcgc']{
	padding-left: 69px !important; 
}