<html>
<head>
<title>Template001</title>
</head>
<body>
<div align="center">
Template001
<br>
Evandro Rafael Ochner
</div>
<form action="#." method="POST" name="form">
<input type="hidden" name="aux_cddopcao"   VALUE="">
<input type="hidden" name="aux_lspermis" VALUE="">
<input type="hidden" name="aux_nrdrowid"   VALUE="">
<input type="hidden" name="aux_dsretorn"   VALUE="">
<input type="hidden" name="aux_stdopcao"   VALUE="">
<input type="hidden" name="aux_dsendurl"   VALUE="">
<input type="hidden" name="idevento"   VALUE="">
<input type="text" name="dseixtem" value="">
<div class="PosicaoBotoes">
  <table width="200" align="center">
    <tr>
      <th scope="col"><img src="/cecred/images/botoes/btn_cadastrar.gif" onClick="return top.frcod.Incluir()"></th>
      <th scope="col"><img src="/cecred/images/botoes/btn_salvar.gif"  onClick="return top.frcod.Salvar()"></th>
      <th scope="col"><img src="/cecred/images/botoes/btn_excluir_botao.gif" onClick="return top.frcod.Excluir()"></th>
      <th scope="col"><img src="/cecred/images/botoes/btn_procurar.gif" onClick="return top.frcod.AbreZoom(parent.mainFrame.NomeDoProgramaDeZoom,parent.mainFrame.NomeDoProgramaPrincipal,'','P',document.form.idevento.value)"></th>
      
    </tr>
  </table>
  </div>
</form>
</body>
<SCRIPT LANGUAGE="JAVASCRIPT">
   NomeDoProgramaPrincipal  = '/teste.w';
   NomeDoProgramaDeListagem = '/testels.w';
   NomeDoProgramaDeAjuda    = '/testeaj.w';
   NomeDoProgramaDeZoom     = '/zoom/zoei01.w';
   
   NomeDoProgramaPrincipal = document.form.cabecalho.value + NomeDoProgramaPrincipal;
   document.form.action = NomeDoProgramaPrincipal;

function Habilita()
{
  
}
function HabilitaSalvar()
{
  
}
function ValidaDados(form)
    { 
        var msg="";
         
	msg = msg + top.frcod.VE("ca",form.dseixtem,"A descrição do eixo temático","nao");
         
        if (msg == "")
                return true
            else
                {
                    top.frcod.MostraResultado('1',msg);
                    return false
                }
    }

function LimparCampos()
    {
        document.form.dseixtem.focus();
        document.form.dseixtem.select();
    }


function CarregaPrincipal()
    {  
      top.topFrame.document.all.titulo.innerHTML = 'Teste';
    }    
</SCRIPT>
</html>
                                                
