/************************************************************************/
/*** Fonte: improp.css                                                ***/
/*** Autor: Gabriel                                                   ***/
/*** Data : Outubro/2010                 Última Alteração:            ***/
/***                                                                  ***/
/*** Objetivo  : Arquivos com estilos css da tela Improp              ***/
/***                                                                  ***/	 
/*** Alterações: 													  ***/
/************************************************************************/


#frmImprop {
    padding-top:3px;
	border-bottom:1px solid #777;
	padding-bottom:1px;
	margin-bottom:4px;
	border-top:1px solid #777;
 }
 
 #opcao{
	margin-left:22px;
 }
 
 #cddopcao {  
	width:36px;
	margin-right:10px;
 }
 
 #nrdconta {
  width:67px;
  
 }
 
 #pesquisaAssoc {
   width:23px;
   height:14px;
   border:1px;
 }
 
 #cdagenci {
   width:30px;
   margin-right:6px;
 }
 
 #dtiniper {
   width:70px;
   margin-right:6px;
   
 }
 
 #dtfimper {
   width:70px;
   margin-left:7px;
   margin-right:6px;
 }
 
 #tipo {
    margin-left:9px;
 }
 
#tprelato01 {
	margin-left:7px;
	margin-right:5px;
	margin-top:5px;
}

#tprelato02 {
    margin-left:7px;
	margin-right:5px;
	margin-top:5px;
}

#tprelato03 {
    margin-left:7px;
	margin-right:5px;
	margin-top:5px;
}

#tprelato04 {
    margin-left:7px;
	margin-right:5px;
	margin-top:5px;
}
 
#tprelato05 {
    margin-left:7px;
	margin-right:5px;
	margin-top:5px;
}

#btnPesquisa {
	margin-left:9px;
} 

 